body{ margin: 0 auto; margin-left: 90px; margin-right: 90px; }
header{background-color: #f6f1eb; margin: 0 auto; }
.home li{list-style: none; display: inline; margin-left: 50px; }
.home li a {text-decoration: none; color: black; gap: 50px;}
.head{display: flex; justify-content: space-between; align-items: center; margin-left: 140px; margin-right: 140px;}
main, footer{margin-left: 240px; margin-right: 240px;}
.brand{margin-left: 250px; margin-top: 70px; width:600px; }
.brand button{color:white; background-color: orange; margin-top: -30px;  width:  150px; height: 44px; border-radius: 8px; margin-left: 200px;}
 .brand h1{ margin-left:80px;}
 .fimage img {margin-top: 40px; height: 500px; width: 770px; margin-left: 180px; margin-bottom: 20px;}
.iimage{display: flex; flex-direction: row;}
.imagee{display: flex; flex-direction: row; }
.image{display: flex; flex-direction: column; gap:9px; height: 420px; width:400px; margin-top: 50px; }
.image img{height: 200px; width:180px;}
.quick { height: 420px; width:300px; align-content: center;  font-size: medium;  margin-top: 40px;}
.quickspan{color:grey;}
.features{color:orange;}
.quick button{color:white; background-color: orange;width:  130px; height: 34px; border-radius: 8px;  }
.second{display: flex; flex-direction: row; width:700px; margin-left: -70px; gap:50px;}
.enjoy{ font-size: 0.9em; height:550px;  }
.dextop,.drug,.awesome, .super{ box-shadow:4px 4px 5px 7px whitesmoke ; padding-left: 9px;}
.side{ height: 650px; width:550px; }
.hero{display: flex; gap:25px; width:770px; margin-left: -90px; margin-top: 60px; }
.enjoylist{margin-left: 7px; }


.side-bottom{background-color: orange; color: white; width:200px; height: 95px; border-radius: 7px;  position:absolute;margin-top: -35px;}
.side img{width:400px; height:600px;margin-left:20px;} 
.year{font-size: xx-large;font-weight: bolder;text-align: center; }
.experience{ text-align: center; margin-top: -33px; font-weight: bold;}

.section{margin-left: -80px;}
.png {border: 2px solid burlywood; border-radius: 6px; height: 140px; width:199px;  }
.icon{display: flex;gap:50px; margin-left: 40px; margin-top: 60px;}
.icon h2,img{ margin-left: 20px;}
.icon p{margin-left: 3px;}
.sec{ padding:50px;  width:400px; margin-left: 80px; }
.sec h2{font-weight: bolder; margin-left: 70px;}
#sect{display: flex; justify-content: space-around; }
#sect img{width:99px; filter: grayscale();}
.section{ margin-top: 80px; } 
#copyright{background-color: rgb(245, 238, 228); padding-left: 260px;  height: 50px;padding-top: 2px; width:600px; margin:50px  0px 50px -125px;}
